.idea/*

.idea

spiderProject/scrapyd/logs/spider/zhilian/*.log
spiderProject/scrapyd/logs/spider/zhilian2/*.log

web-server/api/__pycache__/*.pyc

compose/

doc/

ETL/

model/

spiderProject/

docker-compose.yml

#web-ui/node_modules